<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>tuan.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>tuan.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserController</servlet-name>
        <servlet-class>tuan.controllers.InsertUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>tuan.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>tuan.controllers.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>tuan.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDeviceController</servlet-name>
        <servlet-class>tuan.controllers.InsertDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDeviceController</servlet-name>
        <servlet-class>tuan.controllers.EditDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeviceController</servlet-name>
        <servlet-class>tuan.controllers.UpdateDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDeviceController</servlet-name>
        <servlet-class>tuan.controllers.DeleteDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRoomDeviceController</servlet-name>
        <servlet-class>tuan.controllers.ChangeRoomDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRoomController</servlet-name>
        <servlet-class>tuan.controllers.InsertRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomController</servlet-name>
        <servlet-class>tuan.controllers.UpdateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomComtroller</servlet-name>
        <servlet-class>tuan.controllers.EditRoomComtroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomController</servlet-name>
        <servlet-class>tuan.controllers.DeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>tuan.controllers.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDeviceController</servlet-name>
        <servlet-class>tuan.controllers.SearchDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRoomController</servlet-name>
        <servlet-class>tuan.controllers.SearchRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>tuan.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserController</servlet-name>
        <url-pattern>/InsertUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/EditUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDeviceController</servlet-name>
        <url-pattern>/InsertDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDeviceController</servlet-name>
        <url-pattern>/EditDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeviceController</servlet-name>
        <url-pattern>/UpdateDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDeviceController</servlet-name>
        <url-pattern>/DeleteDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeRoomDeviceController</servlet-name>
        <url-pattern>/ChangeRoomDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRoomController</servlet-name>
        <url-pattern>/InsertRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomController</servlet-name>
        <url-pattern>/UpdateRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomComtroller</servlet-name>
        <url-pattern>/EditRoomComtroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomController</servlet-name>
        <url-pattern>/DeleteRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDeviceController</servlet-name>
        <url-pattern>/SearchDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRoomController</servlet-name>
        <url-pattern>/SearchRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
